name: CI/CD to Kubernetes

on:
  push:
    branches:
      - main

permissions:
  contents: write   # REQUIRED so GitHub Actions can push commits

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        persist-credentials: true   # REQUIRED for git push

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-sample-app:${{ github.sha }} .

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/devops-sample-app:${{ github.sha }}

    - name: Install yq
      run: |
        sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq
        sudo chmod +x /usr/bin/yq

    - name: Update manifest image
      run: |
        yq -i '.spec.template.spec.containers[0].image = "${{ secrets.DOCKER_USERNAME }}/devops-sample-app:${{ github.sha }}"' k8s/deployment.yaml

    - name: Commit updated manifest (GitOps)
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add k8s/deployment.yaml
        git commit -m "Update image to ${{ github.sha }}"
        git push
