name: CI/CD to Kubernetes

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-sample-app:${{ github.sha }} .

    - name: Push image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/devops-sample-app:${{ github.sha }}

    - name: Update image
      run: |
      sed -i 's|image: abrar98/devops-sample-app.*|image: abrar98/devops-sample-app:${{ github.sha }}|' k8s/deployment.yaml


    - name: Prepare kubeconfig
      run: |
        echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > kubeconfig
        export KUBECONFIG=kubeconfig

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/