name: Hello-DevOps-Pipeline

on:
  push:
    branches:
      - main

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print welcome message
        run: echo "Your first GitHub Actions pipeline is working!"
