name: Basic-CI-Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Display current directory
        run: pwd

      - name: List files
        run: ls -la

      - name: Print custom message
        run: echo "Second pipeline is running successfully!"
